<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.meetme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="MeetMe">
        <activity
            android:name=".HelloActivity"
            android:label="MeetMe"></activity>
        <activity
            android:name=".Loginpage"
            android:parentActivityName=".HelloActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HelloActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".HelloActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HelloActivity" />
        </activity>
        />
        <activity
            android:name=".UserAreaActivity"
            android:parentActivityName=".HelloActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HelloActivity" />
        </activity>
    </application>

</manifest>